.attach_pid*
.classpath
.factorypath
.project
.DS_Store
*.7z
*.class
*.gz
*.iml
*.ipr
*.iws
*.log
*.rar
*.tgz
*.xz
*.zip
gradle-dependencies.txt
gradlew
gradlew.bat
nohup.out
proguard.cfg
Thumbs.db

.gradle/
.idea/
.metadata/
.recommenders/
.settings/
.svn/
bin/
classes/
build/
build-eclipse/
gradle/
logs/
mmxtest/
out/
spring-boot-ehcache/
target/
webapp/

application-dev.yml
application-product.yml
